{% extends 'base.jinja2' %}
{% block htmltitle %}Пользовательское соглашение{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 page-content page-content col-thin-left sidebar-modern-inner p-2">
    <div class="panel-body" id="document-content">
        <h3>Пользовательское Соглашение</h3>Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между владельцем ukcevrica.ru (далее АВТОРСКИЙ КОНСУЛЬТАТИВНЫЙ ПОРТАЛ ЭВРИКА или Администрация) с одной стороны и пользователем сайта с другой.<br>Сайт АВТОРСКИЙ КОНСУЛЬТАТИВНЫЙ ПОРТАЛ ЭВРИКА не является средством массовой информации.<br><br>Используя сайт, Вы соглашаетесь с условиями данного соглашения.<br><b>Если Вы не согласны с условиями данного соглашения, не используйте сайт АВТОРСКИЙ КОНСУЛЬТАТИВНЫЙ ПОРТАЛ ЭВРИКА!</b><br><br><h3>Права и обязанности сторон</h3><b>Пользователь имеет право:</b><br>- осуществлять поиск информации на сайте<br>- получать информацию на сайте<br>- копировать информацию на другие сайты с указанием источника<br>- использовать информацию сайта в личных некоммерческих целях<br><br><b>Администрация имеет право:</b><br>- по своему усмотрению и необходимости создавать, изменять, отменять правила<br>- ограничивать доступ к любой информации на сайте<br><br><b>Пользователь обязуется:</b><br>- не нарушать работоспособность сайта<br>- не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом и его Сервисами<br><br><b>Администрация обязуется:</b><br>- поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим от Администрации причинам.<br><br><h3>Ответственность сторон</h3>- администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами<br>- в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса<br><br><h3>Условия действия Соглашения</h3>Данное Соглашение вступает в силу при любом использовании данного сайта.<br>Соглашение перестает действовать при появлении его новой версии.<br>Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему усмотрению.<br>Администрация не оповещает пользователей об изменении в Соглашении.<br><br><br> </div>

        </div>
    </div>
{% endblock %}