<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block htmltitle %}{% endblock %}</title>
    <meta name="description" content="{% block htmldescription %}{% endblock %}">
    {% block head %}{% endblock %}
    {% compress css %}
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    {% endcompress %}
    <meta name="yandex-verification" content="251b63650851b5ab" />
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- include pace script for automatic web page progress bar  -->
    <script>
        paceOptions = {
            elements: true
        };
    </script>
    <meta name="verification" content="8f7101f9720a6f7a847769da033694" />
</head>
<body>
<div id="wrapper" class="h-100">

    <div class="header">
        <nav class="navbar  fixed-top navbar-site navbar-light bg-light navbar-expand-md"
             role="navigation">
            <div class="container">
                <div class="navbar-identity">
                    <a href="/" class="navbar-brand logo logo-title">
                        <img class="d-none d-md-inline" style="height: 40px; margin-top: -10px; margin-right: 10px" src="/static/logo.png">
                        {{ split_name(settings.sitename)|safe }}</a>
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggler pull-right" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav ml-auto navbar-right">
                        {% for p in all_pages %}
                            <li class="nav-item"><a href="{{ url('page', args=[p.slug]) }}" class="nav-link">{{ p.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="main-container">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- /.main-container -->

    <footer class="main-footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">

                    <div class=" col-xl-3 col-xl-3 col-md-3 col-6  ">
                        <div class="footer-col">
                            <h4 class="footer-title">Сервис</h4>
                            <ul class="list-unstyled footer-nav">
                                {% for p in all_pages %}
                                    <li><a href="{{ url('page', args=[p.slug]) }}" class="nav-link">{{ p.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class=" col-xl-3 col-xl-3 col-md-3 col-6  ">
                        <div class="footer-col">
                            <h4 class="footer-title">Контакты</h4>
                            <ul class="list-unstyled footer-nav">
                                <li><a style="text-decoration: underline" href="{{ settings.vk }}" target="_blank">{{ settings.name }}</a></li>
                                <li>{{ settings.phone }}</li>
                                <li>{{ settings.email }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class=" col-xl-3 col-xl-3 col-md-3 col-6 ">
                        <div class="footer-col">
                            <h4 class="footer-title">Информация</h4>
                            <ul class="list-unstyled footer-nav">
                                <li><a href="{{ url('agreement') }}">Пользовательское соглашение</a></li>
                                <li><a href="{{ url('refund') }}">Информация о возврате средств</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class=" col-xl-3 col-xl-3 col-md-3 col-6  ">
                        <div class="footer-col">
                    <!-- Yandex.Metrika informer -->
                    <a href="https://metrika.yandex.ru/stat/?id=68773942&amp;from=informer"
                       target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/68773942/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                                                           style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="68773942" data-lang="ru" /></a>
                    <!-- /Yandex.Metrika informer -->

                    <!-- Yandex.Metrika counter -->
                    <script type="text/javascript" >
                        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
                        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

                        ym(68773942, "init", {
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true
                        });
                    </script>
                    <noscript><div><img src="https://mc.yandex.ru/watch/68773942" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                    <!-- /Yandex.Metrika counter -->
                        </div>
                    </div>

                    <div style="clear: both"></div>

                    <div class="col-xl-12">

                        <div class="copy-info text-center">
                            &copy; 2020 {{ settings.sitename }}. Все права защищены.
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- /.footer -->
</div>

{% compress js %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.bundle.js"></script>
<script src="/static/js/vendors.min.js"></script>
<script src="/static/js/scripts.js"></script>
{% endcompress %}

</body>
</html>
