{% extends 'base.jinja2' %}
{% block htmltitle %}Каталог работ. Курсовые работы, доклады, рефераты, задачи. Купить онлайн{% endblock %}
{% block head %}
    {% if request.GET.get('subject') or request.GET.get('worktype') or request.GET.get('name') %}
        <link rel="canonical" href="https://ukcevrica.ru/catalog/"/>
    {% endif %}
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-4 page-sidebar mb-2 mb-lg-0 order-1 order-md-0">
        {% include 'blocks/sidebar.jinja2' %}
    </div>
    <div class="col-md-8 page-content  order-0 order-md-1">

        <div class="category-list ">
            {% if not (request.GET.get('subject') or request.GET.get('worktype') or request.GET.get('name')) %}
                <div class="p-2"><h1>Готовые курсовые работы, доклады, рефераты, задачи, презентации, отчёты по практике</h1></div>
            {% endif %}
            <div class="tab-box ">
                <div class="tab-filter">
                    <select id="sort" class="selectpicker select-sort-by" data-style="btn-select" data-width="auto">
                        <option togo="{{ params(request,{'sorting': 'name'})|safe() }}" {% if request.GET.get('sorting', 'name') == 'name' %} selected{% endif %}>По названию</option>
                        <option togo="{{ params(request,{'sorting': 'price', 'sort': 'asc'})|safe() }}" {% if request.GET.get('sorting', 'name') == 'price' and request.GET.get('sort', 'asc') == 'asc' %} selected{% endif %}>Цена: Сначала дешевле</option>
                        <option togo="{{ params(request,{'sorting': 'price', 'sort': 'desc'})|safe() }}" {% if request.GET.get('sorting', 'name') == 'price' and request.GET.get('sort', 'asc') == 'descr' %} selected{% endif %}>Цена: Сначала дороже</option>
                    </select>
                </div>
            </div>
            <div class="listing-filter">
                <div class="pull-left col-xs-6">
                    <div class="breadcrumb-list"> &nbsp;
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="menu-overly-mask"></div>
                <div class="adds-wrapper row no-margin">
                    {% for p in object_list %}
                    <div class="item-list">
                        <div class="row">
                            <div class="col-md-9 add-desc-box">
                                <div class="ads-details">
                                    <h5 class="add-title"><a href="{{ url('work', args=[p.pk]) }}">{{ p.name }}</a></h5>
                                    <div class="info-row">
                                        <span class="badge badge-info">{{ p.subject }}</span>
                                        <span class="badge badge-secondary">{{ p.worktype }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-right  price-box">
                                <h2 class="item-price"> ₽ {{ p.price }} </h2>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% include 'blocks/pagination.jinja2' %}
    </div>
</div>
{% endblock %}