{% extends 'base.jinja2' %}
{% block htmltitle %}Оплата НЕ удалась{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-lg-8 page-content sidebar-modern-inner pt-3">
            <h1>Оплата НЕ удалась</h1>
            <div class="alert alert-danger">К сожалению, с оплатой возникли проблемы. Попробуйте ещё раз?</div>
        </div>
    </div>
{% endblock %}