{% extends 'base.jinja2' %}
{% block htmltitle %}{{ page.name }}{% endblock %}
{% block content %}
    {% if not show_sidebar %}
    <div class="row">
        <div class="col-md-12 col-lg-8 page-content sidebar-modern-inner pt-3">
            <h1>{{ page.name }}</h1>
            {{ page.content|safe }}
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-4 page-sidebar mb-2 mb-lg-0  order-1 order-md-0">
            {% include 'blocks/sidebar.jinja2' %}
        </div>
        <div class="col-md-8 page-content  order-0 order-md-1 sidebar-modern-inner p-2">
            <h1>{{ page.name }}</h1>
            {{ page.content|safe }}
        </div>
    </div>
    {% endif %}
{% endblock %}