{% extends 'base.jinja2' %}
{% block htmltitle %}Информация о возврате средств{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 page-content page-content col-thin-left sidebar-modern-inner p-2">
            <div class="panel-body" id="document-content">
                <h3>Информация о возврате средств</h3>
                1.1 Возврат денег Заказчику за приобретённые файлы работ не предусмотрен

             </div>

        </div>
    </div>
{% endblock %}