{% extends 'base.jinja2' %}
{% block htmltitle %}Успешная оплата{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-lg-8 page-content sidebar-modern-inner pt-3">
            <h1>Успешная оплата</h1>
            <div class="alert alert-success">В течении минуты на Ваш e-mail придёт письмо с купленной работой</div>
        </div>
    </div>
{% endblock %}