{% extends 'base.jinja2' %}
{% block htmltitle %}{{ work.name }}. {{ work.worktype }}. {% if work.price <= 0 %}Бесплатно{% else %}Купить{% endif %}{% endblock %}
{% block htmldescription %}{{ work.worktype }} по предмету {{ work.subject }} на тему {{ work.name }}. {% if work.price <= 0 %}Бесплатно{% else %}Купить за {{ work.price }} рублей{% endif %}{% endblock %}
{% block content %}


    <div class="row">
        <div class="col-md-8 page-content col-thin-right">
            <div class="inner inner-box ads-details-wrapper">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{{ url('catalog') }}">Все работы</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="{{ url('catalog') }}?subject={{ work.subject.id }}">{{ work.subject }}</a></li>
                    </ol>
                </nav>
                <h1>{{ work.name }}</h1>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active"  data-toggle="tab" href="#content" role="tab">Содержание</a>
                    </li>
                    {% if work.literature %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#literature" role="tab">Литература</a>
                    </li>
                    {% endif %}
                    {% if work.about %}
                    <li class="nav-item">
                        <a class="nav-link"  data-toggle="tab" href="#about" role="tab">О работе</a>
                    </li>
                    {% endif %}
                </ul>

                <div class="tab-content mt-2" id="myTabContent">
                    <div class="tab-pane fade show active" id="content">
                        {{ work.content|default_if_none('')|safe|replace('style="font-family:&quot;Times New Roman&quot;,serif"', '') }}
                    </div>
                    {% if work.literature %}
                    <div class="tab-pane fade" id="literature">
                        {{ work.literature|default_if_none('')|safe|replace('  style="font-family:&quot;Times New Roman&quot;,serif">"', '') }}
                    </div>
                    {% endif %}
                    {% if work.about %}
                    <div class="tab-pane fade" id="about">
                        {{ work.about|default_if_none('')|safe|replace('  style="font-family:&quot;Times New Roman&quot;,serif">"', '') }}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if work.price <= 0 %}
                <div class="card card-user-info sidebar-card">
                <div class="card-content">
                    <div class="card-body text-left">
                        {% for f in work.files.all() %}
                            <a data-toggle="modal" href="#f{{ f.pk }}" class="btn btn-success">Смотреть работу Online</a>
                        {% endfor %}
                    </div>
                    </div>
                </div>

            {% endif %}

        </div>
        <!--/.page-content-->

        <div class="col-md-4  page-sidebar-right">
            <aside>

                <div class="card card-user-info sidebar-card">
                    <div class="card-content">
                        <div class="card-body text-left">
                            <div class="grid-col">
                                <div class="col from">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>Тип работы</span>
                                </div>
                                <div class="col to">
                                    <span>{{ work.worktype }}</span>
                                </div>
                            </div>
                            <div class="grid-col">
                                <div class="col from">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>Предмет</span>
                                </div>
                                <div class="col to">
                                    <span>{{ work.subject }}</span>
                                </div>
                            </div>
                            {% if work.pages %}
                            <div class="grid-col">
                                <div class="col from">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>Страниц</span>
                                </div>
                                <div class="col to">
                                    <span>{{ work.pages }}</span>
                                </div>
                            </div>
                            {% endif %}

                            {% if work.originality %}
                                <div class="grid-col">
                                    <div class="col from">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span>Оригинальность</span>
                                    </div>
                                    <div class="col to">
                                        <span>{{ work.originality }}</span>
                                    </div>
                                </div>
                            {% endif %}
                            {% if work.date %}
                                <div class="grid-col">
                                    <div class="col from">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span>Дата написания</span>
                                    </div>
                                    <div class="col to">
                                        <span>{{ work.date }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="ev-action">
                            {% if work.price > 0 %}
                            <a class="btn btn-warning btn-block" data-toggle="modal" href="#buymodal">
                                Приобрести за <span class="font-weight-bold">{{ work.price }}</span> ₽
                            </a>
                            {% else %}
                                <div class="alert alert-success">Бесплатная работа</div>
                            {% endif %}
                            <a target="_blank" class="btn btn-outline-danger btn-block" href="{{ settings.vk }}">
                                Получить консультацию по этой работе
                            </a>
                        </div>

                    </div>
                </div>


                <!--/.categories-list-->
            </aside>
        </div>
        <!--/.page-side-bar-->
    </div>
    <div class="modal fade" id="buymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form method="post" action="{{ url('pay') }}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Пожалуйста, заполните форму</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="work" value="{{ work.pk }}">
                        <label>Укажите Ваш E-mail.<br><strong class="text-danger">На него будет выслана работа, после успешной оплаты</strong></label>
                        <input required placeholder="vasha@pochta.ru" name="email" type="email" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Оплатить {{ work.price }} руб.</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if work.price <= 0 %}
    {% for f in work.files.all() %}

        <div id="f{{ f.pk }}" class="modal " tabindex="-1" role="document" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="height: 90%">
                <div class="modal-content" style="height: 100%">
                    <iframe id="pptframe" width="100%" height="100%" style="border: none;"  src="http://docs.google.com/viewer?url=https://ukcevrica.ru{{ f.file.url }}&embedded=true" ></iframe>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}