
{% if is_paginated %}
<div class="pagination-bar text-center">
<nav  class="d-inline-b">

        <ul class="pagination">
            {% if page_obj.has_previous() %}
                <li class="page-item {% if not page_obj.has_previous() %} disabled{% endif %}"><a href="{% if page_obj.has_previous() %}{{ params(request,{'page':1})|safe() }}" class="page-link" {% if not page_obj.has_previous() %} aria-disabled="true"{% endif %}> << </a></li>
                    <li class="page-item {% if not page_obj.has_previous() %} disabled{% endif %}"><a href="{% if page_obj.has_previous() %}{{ params(request,{'page':page_obj.previous_page_number()})|safe() }}{% endif %}{% endif %}" class="page-link" {% if not page_obj.has_previous() %} aria-disabled="true"{% endif %}> < </a></li>
            {% endif %}
            {% if page_obj.has_previous() %}
                {% for x in range(0,4)|reverse  %}
                    {% if (page_obj.previous_page_number()-x) > 0 %}
                        <li class="page-item"><a class="page-link" href="{{ params(request,{'page':page_obj.previous_page_number()-x})|safe() }}">{{ page_obj.previous_page_number()-x }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <li  aria-current="page" class="page-item active">
              <span class="page-link">
                {{ page_obj.number }}
                  <span class="sr-only">(current)</span>
              </span>
            </li>
            {% if page_obj.has_next() %}
                {% for x in range(0,4) %}
                    {% if (page_obj.next_page_number()+x) <= page_obj.paginator.num_pages %}
                        <li class="page-item"><a class="page-link" href="{{ params(request,{'page':page_obj.next_page_number()+x})|safe() }}">{{ page_obj.next_page_number()+x }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if page_obj.has_next() %}
                <li class="page-item {% if not page_obj.has_next() %} disabled{% endif %}"><a href="{% if page_obj.has_next() %}{{ params(request,{'page':page_obj.next_page_number()})|safe() }}{% endif %}" class="page-link" {% if not page_obj.has_next() %} aria-disabled="true"{% endif %}> > </a></li>
                <li class="page-item {% if not page_obj.has_next() %} disabled{% endif %}"><a href="{% if page_obj.has_next() %}{{ params(request,{'page':page_obj.paginator.num_pages})|safe() }}{% endif %}" class="page-link" {% if not page_obj.has_next() %} aria-disabled="true"{% endif %}> >> </a></li>
            {% endif %}
        </ul>

</nav>
</div>
{% endif %}