<div class="sidebar-modern-inner">
    <div class="block-title has-arrow ">
        <h5>Поиск темы</h5>
    </div>
    <div class="block-content locations-list  list-filter ">
        <form id="nameform" action="{{ url('catalog') }}" method="GET">
            <div class="input-group">
                <input value="{{ request.GET.get('name', '') }}" name="name" id="id_name" class="form-control" type="text">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">Ok</button>
                </div>
            </div>
            {% if request.GET.get('name') %}<span onclick="$('#id_name').val(''); $('#nameform').submit()" class="link-color pointer ml-1">очистить</span>{% endif %}
        </form>
    </div>


    <div class="block-title has-arrow sidebar-header">
        <h5>Предмет</h5>
    </div>
    <div class="block-content categories-list  list-filter ">
        <ul class=" list-unstyled">
            <li><a{% if not request.GET.get('subject') %} class="font-weight-bold"{% endif %} href="{{ url('catalog') }}{{ params(request,{'subject': ''})|safe() }}"><span class="title">Все предметы</span><span class="count">&nbsp;{{ suject_works_count }}</span></a></li>
            {% for s in all_subjects %}
                {% if s.works_count > 0 %}<li><a {% if request.GET.get('subject') == s.pk|string %}class="font-weight-bold"{% endif %} href="{{ url('catalog') }}{{ params(request,{'subject':s.pk})|safe() }}"><span class="title">{{ s.name }}</span><span class="count">&nbsp;{{ s.works_count }}</span></a></li>{% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="block-title has-arrow ">
        <h5>Тип работы</h5>
    </div>
    <div class="block-content locations-list  list-filter ">
        <ul class="browse-list list-unstyled long-list">
            <li><a {% if not request.GET.get('worktype') %} class="font-weight-bold"{% endif %} href="{{ url('catalog') }}{{ params(request,{'worktype': ''})|safe() }}"> Все типы </a></li>
            {% for t in all_types %}
                <li><a {% if request.GET.get('worktype') == t.pk|string %}class="font-weight-bold"{% endif %} href="{{ url('catalog') }}{{ params(request,{'worktype':t.pk})|safe() }}"> {{ t.name }} </a></li>
            {% endfor %}
        </ul>
    </div>
    <div style="clear:both"></div>
</div>